<!DOCTYPE html>
<html>
  <head>
    <title>ManyocoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <button type="button"><%= link_to "Profile" %></button>
    <button type="button"><%= link_to "Logout" %></button>
    <%= yield %>
  </body>
</html>
